body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
	margin-top: -50px;
	width: 100%;
	height: 30%;
	float: left;
	background: #333;
	position: fixed;
}

h1 {
	font-size: 300%
	}

h2 {
	clear: left;
	font-size: 250%;
	padding: .25em;
	}
	
div {
	float: left;
	padding: .5em;
	}
	
/* nav styles */

nav {
	display: block;
	float: right;
	margin: .25em;
}

nav ul {
	list-style: none;
	margin-right: 100px;
	}

nav li {
	float:  left;
	margin-left: 80px;
	font-size: 150%;
	padding: .25em;
	border: 1px solid #FFBD82;
	}

#cougar {
	background: #379CB2;
	color: #000;
	}

#lion {
	background: #B26219;
	color: #000;
}

#tiger {
	background: #82E8FF;
	color: #000;
}

article {
	width: 1500px;
	padding: 1em; 
    margin: auto; 
    } 

h2, section > p {
	text-align: center;
	}

img {
	display: block;
	margin: auto;
}

footer {
	margin-left: 500px;
	margin-right: 500px;
	padding: 1em;
	text-align: center;
	}








/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #999; }
a:hover { color: #82E8FF; }